ubuntu/builds
ubuntu/packer-in-action/builds/
ubuntu/ansible-in-action/builds/
ubuntu/k8s-in-action/builds/
*.retry
ubuntu/ansible-in-action/ansible/*.retry
ubuntu/ansible-in-action/ansible/playbooks/*.retry
ubuntu/k8s-in-action/ansible/*.retry
ubuntu/k8s-in-action/ansible/playbooks/*.retry
*.iml
.idea
